*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Helvetica, sans-serif;
}
body{
    text-align: center;
    padding: 10px 0px;
    border: 2px solid rgb(149, 174, 255);
}
input{
    width: 100%;
    outline: none;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(149, 174, 255);
    border: none;
    
}input::placeholder {
    font-weight: bold;
    color: #ffffff;
    transform: rotate(5deg);
}
div{
    border: 2px solid;
    background-color: rgb(149, 174, 255);
}
pre{
    background-color: rgb(149, 174, 255);
    border: 2px solid;
    border-top: none;
}
